* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #282c34;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: chartreuse;
}

.navbar {
  background-color: coral;
}

.navbar ul li {
  list-style-type: none;
}

.profile {
  background-color: cyan;
}
